/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
}
body{
    font-family:"Microsoft JhengHei",sans-serif;
}
.container {
    width: 1000px;
    margin: 0 auto;
}
.social {
    display: flex;
    justify-content: flex-end;
    background: #f6f6f6;
    padding: 5px;
}
.social a {
    text-decoration: none;
}
.social li {
    margin-right: 5px;
}
.item1 {
    color: #4460a0;
    padding-right: 5px;
    border-right: 1px solid #c7c7c2;
}
.item1:hover{
    color: red;
}
.item2 {
    color: #00aaec;
}
.item2:hover{
    color: red;
}
.header {
    display: flex;
    justify-content: space-between;
}
.menu {
    display: flex;
    align-items: center;
    margin-right: 25px;
}
h1 a {
    display: block;
    width: 200px;
    height: 50px;
    background: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/logo.png)
      no-repeat;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}
.menu li {
    font-weight: bold;
    padding: 20px;
}
.menu li a {
    color: #0fcf9f;
    text-decoration: none;
    padding-bottom: 5px;
}
.menu li a:hover {
    color: #000;
    border-bottom: 2px solid #0fcf9f;
}
.banner{
    width: 1000px;
    height: 345px;
    background: url(./images/banner.png) no-repeat;
    position: relative;
    display: flex;
    align-items: center;
}
.banner-rect{
    width: 1000px;
    height: 160px;
    background: #000;
    opacity: 0.2; 
}
.text{
    font-size: 37px;
    line-height: 1.5;
    color: #fff;
    position: absolute;
}
.intro{
	display: flex;
	justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 60px;
}
.course-item{
	width: 300px;
	border-top: 0px;
	border-right: 1px solid rgba(195, 195, 195, 0.365);
	border-bottom: 1px solid rgba(195, 195, 195, 0.365);
	border-left: 1px solid rgba(195, 195, 195, 0.365);
    box-shadow: 0 2px #d6d6d6;
	padding: 10px;
}
.intro img{
	display: block;
	margin: 0 auto;
}
.course-item h3{
	text-align: center;
	font-size: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.course-item ul{
	list-style-type: disc;
	padding-left: 30px;
}
.box{
    height: 137px;
    padding-top: 10px;
}
.compare{
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.compare h3{
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 28px;
}
table {
    width: 840px;
    margin: 0 auto;
}
table th {
    font-weight: bold;
    text-align: left;
    background: #f7f7f7;
}
table th,td {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 8px;
}
.highlight {
    color: #00a67d;
}
.contact{
    width: 1000px;
    height: 405px;
    background: linear-gradient(#00654b,#009771);
}
.contact h3{
    font-size: 27px;
    line-height: 1.4;
    text-align: center;
    color: #fff;
    padding-top: 36px;
}
textarea{
    width: 460px;
    height: 245px;
}
.contact form{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
textarea,input{
    border-radius: 5px;
    border: none;
}
label{
    display: block;
    color: #fff;
}
input{
    width: 460px;
    height: 32px;
    margin-top: 4px;
    margin-bottom: 14px;
}
textarea:focus,input:focus{
    border: 2px solid #66afe9;
    outline: none;
    box-shadow: 0 0 7px #66afe9;
}
.submit{
    width: 70px;
    height: 32px;
    background: #00cc99;
    color: #fff;
    margin-left: 390px;
}
.submit:hover{
    background: rgb(235, 115, 115);
    border: 2px solid #66afe9;
    box-shadow: 0 0 7px #66afe9;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 55px;
}
.footer-logo{
    margin-left: 20px;
}
.connection{
    margin-right: 13px;
}
.connection li{
    margin-bottom: 7px;
}
.connection a{
    color: #e12d80;
    text-decoration: none;
}
.connection a:hover{
    color: blueviolet;
}
